body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    background-color: black;
    color: white;
    font-size: 1.5rem;
    padding: 25px;
}

main{
    padding: 0px 20px 0px 20px;
}

h1{
    text-align: center;
}

footer{
    background-color: black;
    color: white;
    font-size: 1rem;
    text-align: center;
    margin-top: 25px;
    padding: 20px;
}

#titulo1{
    background-color: rgba(92, 92, 92, 0.486);
    color: white;
    border-radius: 10px;
    padding: 0;
}

.paragrafos{
    color: rgba(0, 0, 0, 0.438);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: right;
}

.table{
    width: 500px;
    border: solid 6px black;
    border-radius: 20px;
}