#login{
    background: linear-gradient(120deg, #4c79d3 44.9%, #F0F8FE 45%) no-repeat fixed ;
}

#app{
    background: linear-gradient(120deg, #F0F8FE 44.9%, #4c79d3 45%) no-repeat fixed ;
}

header{
    border-bottom: 1px solid #b3bcbc;
    padding: 5px;
    background-color: #ffffff;
}

.color-primary{
    color: #4e0070;
}

.color-secondary{
    color: #4c79d3;
}

.icon-detail{
    font-size: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.text-login{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

.coins{
    position: absolute;
    bottom: 100px;
}

.button-login{
    border-radius: 10px;
    background-color: #4e0070;
    color: #ffffff;
    width: 50%;
    margin: 0 25%;
}

.button-login:hover, .button-default:hover{
    background: #4c79d3 ;
    color: #ffffff;
}

.button-default {
    border-radius: 10px !important;
    background-color: #4c0070 !important;
    color: #ffffff !important;
    padding: 7px;
    margin: 20px 10px 10px 0;
}

.button-cancel{
    border-radius: 10px !important;
}

.button-float {
    border-radius: 100% !important;
    height: 60px !important;
    width: 60px !important;
    position: fixed !important;
    padding: 0 !important;
    bottom: 1rem !important;
    right: 2rem !important;
    font-size: 35px !important;
    border: 2px solid #4c0070 !important;
    background-color: #4c0070 !important;
    color: #ffffff !important;
}

.button-float:hover {
    background-color: #ffffff !important;
    border: 2px solid #4c79d3 !important;
    color: #4c79d3 !important;
}


.link-default{
    color: #4e0070;
    cursor: pointer;
}

.link-default:hover{
    color: #4c79d3;
}

.form-text{
    font-size: 13px ;
}

.info{
    background-color: #ffffff;
    border-radius: 20px 20px 0px 0px;
    padding: 20px 0px 0px;
}

.logout{
    min-width: 5rem !important;
}

.menu{
    margin-right: 25px;
}
